*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: League Spartan, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg-pattern-top-mobile.svg) right 0vw top 0vh,
    url(../images/bg-pattern-bottom-mobile.svg) right 0vw bottom 0vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
